<div style="text-align: center;">Nova Atividade</div>

<div style="text-align: left; padding-top: 100px; height: 100px;">
    <div style="margin-left: 120px;">Definir Texto Base<br><br></div>
    <input type="text" style="width: 370px; height: 100px;">
</div>

<table style="position: relative;
    bottom: 100px;
    right: -900px;">
    <thead>
        <tr>
            <th>Elementos Norteadores</th>
    <tbody>
        <tr>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
        </tr>
        <tr>
            <td><input type="text"></td>
        </tr>
    </tbody>

    </tr>

    </thead>
</table>

<div style="text-align: center;">
    <button mat-raised-button color="primary">Confirmar</button>
</div>

<footer>
    <!-- <a href="TelaDaDisciplinaProfessor.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>