<div style="text-align: center; padding-top: 100px;">Resenha Individual</div>

<div style="text-align: center; padding-top: 100px; height: 100px;">
    <textarea cols="70" rows="10" class="input-padrao"></textarea>
</div>
<div style="text-align: center; padding-top: 100px; height: 100px;">
    <button mat-raised-button color="primary">Enviar</button>
</div>

<footer>
    <!-- <a href="TelaDaAtividadeAluno.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0; margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>