<title>TCC - Vitor Tristão</title>
<div style="text-align: center;">DISCIPLINA X</div>

<table>
    <thead>
        <tr>
            <th>Atividades</th>
    <tbody>
        <tr>
            <td><button>Atividade 1</button></td>
        </tr>
        <tr>
            <td><button>Atividade 2</button></td>
        </tr>
        <tr>
            <td><button>Atividade 3</button></td>
        </tr>
        <tr>
            <td>
                <button mat-raised-button color="primary" (click)="navegaTelaDaAtividadeAluno()">Atividade pendente</button>
            </td>
        </tr>
    </tbody>

    </tr>

    </thead>
</table>

<table style="position: relative;
    bottom: 100px;
    right: -900px;">
    <thead>
        <tr>
            <th>Alunos</th>
    <tbody>
        <tr>
            <td>Fulano</td>
        </tr>
        <tr>
            <td>Beltrano</td>
        </tr>
        <tr>
            <td>Ciclano</td>
        </tr>
    </tbody>

    </tr>

    </thead>
</table>

<button mat-raised-button color="primary" (click)="navegaForumAluno()" style="position: relative;
    bottom: -100px;
    right: -900px;">Fórum</button>

<footer>
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
</footer>