<mat-card class="home mat-elevation-z3">
    <mat-card-title style="text-align: center;" class="title">
        Bem Vindo!
    </mat-card-title>
    <div style="text-align: center; margin-top: 100px;">
            <button mat-raised-button (click)="navegaTelaDisciplinaAluno()" color="primary">Aluno</button>

            <button mat-raised-button (click)="navegaTelaDisciplinaProfessor()" 
            style="margin-left: 100px;" color="primary">Professor/Tutor</button>
            
        </div>
</mat-card>