<div style="text-align: center;">Avaliação</div>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div>
    Como funciona a métrica de interação:
</div>

<table style="margin-top: 150px;">
    <thead>
        <tr>
            <th>Interações no Fórum:</th>
    <tbody>
        <tr>
            <td>Fulano &#10142; 4</td>
        </tr>
        <tr>
            <td>Beltrano &#10142; 2</td>
        </tr>
        <tr>
            <td>Ciclano &#10142; 7</td>
        </tr>
    </tbody>
    </tr>
    </thead>
</table>

<table style="margin-top: 10px;">
    <thead>
        <tr>
            <th>Caracteres na Resenha:</th>
    <tbody>
        <tr>
            <td>Fulano &#10142; 128</td>
        </tr>
        <tr>
            <td>Beltrano &#10142; 50</td>
        </tr>
        <tr>
            <td>Ciclano &#10142; 322</td>
        </tr>
    </tbody>
    </tr>
    </thead>
</table>

<table style="margin-top: 10px;">
    <thead>
        <tr>
            <th>Média da nota das avaliações coletivas:</th>
    <tbody>
        <tr>
            <td>Fulano &#10142; 8</td>
        </tr>
        <tr>
            <td>Beltrano &#10142; 6</td>
        </tr>
        <tr>
            <td>Ciclano &#10142; 10</td>
        </tr>
    </tbody>
    </tr>
    </thead>
</table>

<table style="position: relative;
    bottom: 300px;
    right: -900px;">
    <thead>
        <tr>
            <th>Nível de interação de cada aluno:</th>
    <tbody>
        <tr>
            <td>Fulano &#10142; <i class="fa fa-thermometer-half"
                    style="font-size:36px; margin-top: 10px ;margin-left: 10px; color: rgb(211, 208, 36);"></i></td>
        </tr>
        <tr>
            <td>Siclano &#10142; <i class="fa fa-thermometer-empty"
                    style="font-size:36px; margin-top: 10px ;margin-left: 10px; color: red;"></i></td>
        </tr>
        <tr>
            <td>Beltrano &#10142; <i class="fa fa-thermometer"
                    style="font-size:36px; margin-top: 10px ;margin-left: 10px"></i></td>
        </tr>
    </tbody>
    </tr>
    </thead>
</table>

<!-- <a href="AvaliacaoProfessor.html"> -->
<button mat-raised-button color="primary" (click)="navegaAvaliacaoProfessor()" style="position: relative;
        bottom: 200px;
        right: -900px;">
    Avaliar Alunos
</button>
<!-- </a> -->

<footer>
    <!-- <a href="ChatDoGrupoProfessor.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->

</footer>