<div style="text-align: center;"><b>Produção da Resenha Coletiva</b></div>

<div>
    Observações:
</div>

<div style="text-align: center; padding-top: 100px; height: 100px;">
    <b>Resenha Coletiva:</b><br><br>
    <textarea cols="70" rows="10" class="input-padrao"></textarea>
</div>

<div style="position: relative; margin-left: 950px;">
    <label><input type="checkbox">Fulano</label><br>
    <label><input type="checkbox">Siclano</label><br>
    <label><input type="checkbox">Beltrano</label>
</div>

<div mat-raised-button color="primary" style="text-align: center; padding-top: 100px; height: 100px;"><br>
    <button>Enviar</button>
</div>

<footer>
    <!-- <a href="ChatDoGrupoAluno.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>