<div style="text-align: center;">DISCIPLINA X</div>

<table>
    <thead>
        <tr>
            <th>Atividades</th>
    <tbody>
        <tr>
            <td><button>Atividade 1</button></td>
        </tr>
        <tr>
            <td><button>Atividade 2</button></td>
        </tr>
        <tr>
            <td><button>Atividade 3</button></td>
        </tr>
        <tr>
            <td>
                <!-- <a href="NovaAtividadeProfessor.html"> -->
                <button mat-raised-button color="primary" (click)="navegaNovaAtividadeProfessor()">Nova Atividade</button>
                <!-- </a> -->
            </td>
        </tr>
    </tbody>

    </tr>

    </thead>
</table>

<table style="position: relative;
    bottom: 100px;
    right: -900px;">
    <thead>
        <tr>
            <th>Alunos</th>
    <tbody>
        <tr>
            <td>Fulano</td>
        </tr>
        <tr>
            <td>Beltrano</td>
        </tr>
        <tr>
            <td>Ciclano</td>
        </tr>
    </tbody>

    </tr>

    </thead>
</table>

<!-- <a href="ForumProfessor.html"> -->
<button mat-raised-button color="primary" (click)="navegaForumProfessor()" style="position: relative;
    bottom: -100px;
    right: -900px;">Fórum</button>
<!-- </a> -->

<footer>
    <!-- <a href="TelaDeLogin.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>