<div style="text-align: center;"><b>Formulário de Avaliação</b></div>

<div>
    Explicação da avaliação:
</div>

<div style="text-align: right; padding-top: 100px; height: 100px; margin-right: 50px;">
    <div style="margin-right: 55px;"><b>Avalie a atividade:</b><br><br></div>
    <textarea cols="30" rows="10" class="input-padrao" required></textarea>
</div>

<div>
    Como você se avalia:
    <input type="number" max="10" min="0" value="0"><br><br>
    <input type="text">
</div>

<div style="margin-top: 20px;">
    Avalie Siclano:
    <input type="number" max="10" min="0" value="0"><br><br>
    <input type="text">
</div>

<div style="margin-top: 20px;">
    Avalie Beltrano:
    <input type="number" max="10" min="0" value="0"><br><br>
    <input type="text">
</div>

<div style="margin-left: 1100px; padding-top: 10px; height: 10px;">
    <button mat-raised-button color="primary">Enviar</button>
</div>

<footer>
    <!-- <a href="ChatDoGrupoAluno.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>