<div style="text-align: center;">Fórum</div>


<div style="padding-top: 50px;">
    Como funciona o Fórum:
</div>

<table style="padding-top: 200px;">
    <thead>
        <tr>
            <th>Chat dos grupos</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="padding-top: 20px;">
                <!-- <a href="ChatDoGrupoProfessor.html"> -->
                <button mat-raised-button color="primary" (click)="navegaChatGrupoProfessor()">Grupo 1</button>
                <!-- </a> -->
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px;">
                <button>Grupo 2</button>
            </td>
        </tr>
        <tr>
            <td style="padding-top: 20px;">
                <button>Grupo 3</button>
            </td>
        </tr>
    </tbody>
</table>

<footer>
    <!-- <a href="TelaDaDisciplinaProfessor.html"> -->
    <button mat-raised-button color="primary" style="position: absolute;
    bottom: 0;  margin-bottom: 20px;">
        Voltar
    </button>
    <!-- </a> -->
</footer>